{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Total Calories</h5>
            <h2>{{ total_calories }}</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Meals Logged</h5>
            <h2>{{ meals_count }}</h2>
        </div>
    </div>

    <div class="col-md-12 mt-4">
        <div class="card p-3 shadow">
            <canvas id="calorieChart"></canvas>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const ctx = document.getElementById('calorieChart');

const labels = JSON.parse('{{ labels|escapejs }}');
const data = JSON.parse('{{ data|escapejs }}');

new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Calories',
            data: data,
            borderWidth: 1
        }]
    }
});
</script>{% endblock %}
