{% extends 'base.html' %}

{% block content %}

<h2>Analytics Dashboard</h2>

<div class="card p-3 shadow mb-4">
    <h4>Weekly Calories</h4>
    <canvas id="weekChart"></canvas>
</div>

<div class="card p-3 shadow">
    <h4>Monthly Calories</h4>
    <canvas id="monthChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const weekLabels = JSON.parse('{{ week_labels|escapejs }}');
const weekData = JSON.parse('{{ week_data|escapejs }}');

new Chart(document.getElementById('weekChart'), {
    type: 'line',
    data: {
        labels: weekLabels,
        datasets: [{
            label: 'Weekly Calories',
            data: weekData
        }]
    }
});

const monthLabels = JSON.parse('{{ month_labels|escapejs }}');
const monthData = JSON.parse('{{ month_data|escapejs }}');

new Chart(document.getElementById('monthChart'), {
    type: 'line',
    data: {
        labels: monthLabels,
        datasets: [{
            label: 'Monthly Calories',
            data: monthData
        }]
    }
});
</script>

{% endblock %}