{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Dashboard</h2>

<div class="row">

    <!-- Calories -->
    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Total Calories</h5>
            <h2>{{ total_calories }}</h2>
        </div>
    </div>

    <!-- Recommended -->
    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Recommended</h5>
            <h2>{{ calories_needed }}</h2>
        </div>
    </div>

    <!-- Feedback -->
    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Status</h5>
            <p>{{ feedback }}</p>
        </div>
    </div>

</div>

<hr>

<h4>Meals</h4>

<table class="table table-striped">
    <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Calories</th>
    </tr>

    {% for meal in meals %}
    <tr>
        <td>{{ meal.food.name }}</td>
        <td>{{ meal.quantity }}</td>
        <td>{{ meal.total_calories }}</td>
    </tr>
    {% endfor %}
</table>

<hr>

<h4>Suggestions</h4>
<ul>
    {% for s in suggestions %}
        <li>{{ s }}</li>
    {% endfor %}
</ul>

<hr>

<h4>Calories Chart</h4>
<canvas id="myChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const labels = JSON.parse('{{ food_names|escapejs }}');
    const data = JSON.parse('{{ calories|escapejs }}');

    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: labels,
            datasets: [{
                data: data
            }]
        }
    });
</script>

{% endblock %}